<meta name="viewport" content="width=device-width,initial-scale=1">

<% @page_title = "実績" %>

<h2>実績</h2>

<% if Atmtresult.where(member_id: @current_member.id).where.not(atmtTaskResult: nil).exists? %>
    <table border="2" rules="groups">
      <colgroup span="1"></colgroup>
      <colgroup span="1"></colgroup>
      <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>取得条件</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 1) %>
            <% @achi = Achievement.find(1) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @highscore_atmt >= 0 then %>
                <th><%= link_to '獲得', achievements_path(:id => 1), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>2</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 2) %>
            <% @achi = Achievement.find(2) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @highscore_atmt >= 30 then %>
                <th><%= link_to '獲得', achievements_path(:id => 2), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>3</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 3) %>
            <% @achi = Achievement.find(3) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @highscore_atmt >= 50 then %>
                <th><%= link_to '獲得', achievements_path(:id => 3), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>4</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 4) %>
            <% @achi = Achievement.find(4) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @highscore_atmt >= 70 then %>
                <th><%= link_to '獲得', achievements_path(:id => 4), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>5</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 5) %>
            <% @achi = Achievement.find(5) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @sumscore.atmt >= 300 then %>
                <th><%= link_to '獲得', achievements_path(:id => 5), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>6</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 6) %>
            <% @achi = Achievement.find(6) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @sumscore.atmt >= 500 then %>
                <th><%= link_to '獲得', achievements_path(:id => 6), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>7</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 7) %>
            <% @achi = Achievement.find(7) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @sumscore.atmt >= 1000 then %>
                <th><%= link_to '獲得', achievements_path(:id => 7), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>8</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 8) %>
            <% @achi = Achievement.find(8) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @taskcount_atmt >= 7 then %>
                <th><%= link_to '獲得', achievements_path(:id => 8), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>9</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 9) %>
            <% @achi = Achievement.find(9) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @lowscore_atmt <= 20 then %>
                <th><%= link_to '獲得', achievements_path(:id => 9), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>10</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 10) %>
            <% @achi = Achievement.find(10) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if MemberAchieve.where(member_id: @current_member).count == 10 then %>
                <th><%= link_to '獲得', achievements_path(:id => 10), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>

<% else %>
    <p>タスクを一度行う事で、実績を確認できるようになります。</p>
<% end %>