<% @page_title = "実績" %>

<h2>実績</h2>

<% if Mathresult.where(member_id: @current_member.id).where.not(mathTaskResult: nil).exists? %>
    <table border="2" rules="groups">
      <colgroup span="1"></colgroup>
      <colgroup span="1"></colgroup>
      <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>取得条件</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 11) %>
            <% @achi = Achievement.find(11) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @highscore_math >= 0 then %>
                <th><%= link_to '獲得', achievements_path(:id => 11), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>2</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 12) %>
            <% @achi = Achievement.find(12) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @highscore_math >= 10 then %>
                <th><%= link_to '獲得', achievements_path(:id => 12), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>3</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 13) %>
            <% @achi = Achievement.find(13) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @highscore_math >= 20 then %>
                <th><%= link_to '獲得', achievements_path(:id => 13), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>4</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 14) %>
            <% @achi = Achievement.find(14) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @highscore_math >= 30 then %>
                <th><%= link_to '獲得', achievements_path(:id => 14), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>5</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 15) %>
            <% @achi = Achievement.find(15) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @sumscore.math >= 100 then %>
                <th><%= link_to '獲得', achievements_path(:id => 15), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>6</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 16) %>
            <% @achi = Achievement.find(16) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @sumscore.math >= 200 then %>
                <th><%= link_to '獲得', achievements_path(:id => 16), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>7</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 17) %>
            <% @achi = Achievement.find(17) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @sumscore.math >= 400 then %>
                <th><%= link_to '獲得', achievements_path(:id => 17), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>8</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 18) %>
            <% @achi = Achievement.find(18) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @taskcount_math >= 7 then %>
                <th><%= link_to '獲得', achievements_path(:id => 18), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>9</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 19) %>
            <% @achi = Achievement.find(19) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if @lowscore_math <= 7 then %>
                <th><%= link_to '獲得', achievements_path(:id => 19), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>

      <tr>
        <th>10</th>
        <% if MemberAchieve.exists?(member_id: @current_member.id, achievement_id: 20) %>
            <% @achi = Achievement.find(20) %>
            <th><%= @achi.title %></th>
            <th><%= @achi.explain %></th>
        <% else %>
            <th><%= "未達成" %></th>
            <th><%= "???" %></th>
            <% if MemberAchieve.where(member_id: @current_member).count == 10 then %>
                <th><%= link_to '獲得', achievements_path(:id => 20), :method => :post %></th>
            <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>

<% else %>
    <p>タスクを一度行う事で、実績を確認できるようになります。</p>
<% end %>