<% @page_title = "実験協力者名簿" %>
<% if mobileuser == 1 %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<% end %>
<h1><%= @page_title %></h1>

<%= form_tag :search_members, method: :get do %>
<p><%= text_field_tag "q", params[:q] %>
<%= submit_tag "検索" %></p>
<% end %>

<p><%= link_to "実験協力者の新規登録", :new_member %></p>



<% if @members.present? %>
<table class="list">
  <tr>
    <th>ID</th>
    <th>氏名</th>
    <th>task</th>
    <th>game</th>
    <th>member</th>
    <th>操作</th>
  </tr>
  <% @members.each do |member| %>
  <tr>
    <td><%= member.id %></td>
    <td><%= link_to member.name, member %></td>
    <td><%= member.tasktype %></td>
    <td><%= member.gametype %></td>
    <td><%= member.membertype %></td>
    <td>
      <%= link_to "編集", [:edit, member] %>
    </td>
    <td><%= @current_member.ranking %> , <%= @current_member.achievement %></td>
  </tr>
  <% end %>
</table>
<% else %>
<p>会員情報がありません。</p>
<% end %>


<br>
<br>
<p><%= link_to 'Member出力',alledits_member_path(format: 'csv') %></p>
<p><%= link_to 'ATMT出力',alledits_atmt_path(format: 'csv') %></p>
<p><%= link_to 'MATH出力',alledits_math_path(format: 'csv') %></p>
<p><%= link_to 'CLICK出力',alledits_click_path(format: 'csv') %></p>
<br>
<h3>必殺技</h3>

    <p><%= link_to 'ATMT', alledits_taska_path, :method => :put %></p>
    <p><%= link_to 'MATH', alledits_taskm_path, :method => :put %></p>
    <p><%= link_to 'CLICK', alledits_taskc_path, :method => :put %></p>
    <br>
    <p><%= link_to 'ランキング', alledits_gamer_path, :method => :put %></p>
    <p><%= link_to '実績', alledits_gamea_path, :method => :put %></p>
    <br>
    <p><%= link_to 'ALL', alledits_all_path, :method => :put %></p>
    <p><%= link_to 'NOT', alledits_not_path, :method => :put %></p>